ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

.title {
  color: #303030;
  background-color: #f5f2e5;
  padding: 10px;
  border: 1px solid #fbf8dd;
  border-radius: 3px 3px 3px;
}

.title span{
  padding-left: 10px;
}

.folded .subContent{
  display: none;
}


i.pinIcon {
  border: 1px solid #aaa;
  padding: 2px 5px;
  font-style: normal;
  font-family: monospace;
  font-size: 1.2em;
  margin: 3px;
  color: #aaa;
  cursor: pointer;
}
i.pinIcon:hover {
  border-color: #06b74d;
  background-color: #ecfff4;
}
i.pinIcon.active {
  color: #1c7806;
  border-color: #06b74d;
  background-color: #6ae199;
}